Repository Galbio/42-minishell, pull requests merged in 2025-03, with the labels that each got.

#46 Add Pipes system
  Makefile
  include/minishell.h
  src/builtins/cd.c
  src/builtins/echo.c
  src/builtins/env.c
  src/builtins/exit.c
  src/builtins/export.c
  src/builtins/export_no_args.c
  src/builtins/pwd.c
  src/builtins/unset.c
  src/commands/execute_bin.c
  src/commands/execute_command.c
  src/commands/execute_command_utils.c
  src/commands/parse_commands.c
  src/create_argv.c
  src/init_pipes.c
  src/minishell.c
  src/var_parser.c
Labels: feature, pipes

#48 Fix single command execution
  src/commands/execute_command.c
Labels: bug, execution

#49 Fix Bquotes
  include/minishell.h
  src/bquotes_handler.c
  src/commands/execute_bin.c
  src/commands/execute_command.c
  src/create_argv.c
  src/init_pipes.c
  src/minishell.c
  src/var_parser.c
Labels: bug

#56 Add Signals support
  Makefile
  include/minishell.h
  include/readline.h
  src/minishell.c
  src/readline/actions.c
  src/readline/char_position.c
  src/readline/cursor_manager.c
  src/readline/display.c
  src/readline/exit.c
  src/readline/ft_readline.c
  src/readline/handle.c
  src/readline/processing.c
  src/readline/stdin.c
  src/readline/termios_manager.c
  src/signals.c
Labels: enhancement, signals

#60 Fix Breakline System on Readline
  src/readline/special_key/breakline.c
Labels: bug, readline

#59 Add commands exit code
  include/minishell.h
  src/builtins/cd.c
  src/builtins/echo.c
  src/builtins/env.c
  src/builtins/exit.c
  src/builtins/export.c
  src/builtins/pwd.c
  src/builtins/unset.c
  src/commands/execute_bin.c
  src/commands/execute_command.c
  src/commands/execute_command_utils.c
  src/commands/execute_pipes.c
  src/create_argv.c
  src/envp_parser.c
  src/var_parser.c
Labels: feature, builtins, execution

#76 Rework argv creation
  Makefile
  include/minishell.h
  src/argv/add_splitted.c
  src/argv/argv_utils.c
  src/argv/create_argv.c
  src/argv/parse_cmd_return.c
  src/argv/var_parser.c
  src/builtins/export.c
  src/commands/execute_pipes.c
  src/create_argv.c
  src/init_pipes.c
  src/minishell.c
  src/split_semicolon.c
  src/utils/check_special_char.c
  src/utils/go_to_var_end.c
  src/utils/trim_whitespaces.c
  src/utils/var_names_utils.c
  src/var_parser.c
  src/whitespace_fixer.c
Labels: enhancement, parsing

#87 Handle stdin redirections for herefiles and herestrings
  Makefile
  include/minishell.h
  src/argv/argv_utils.c
  src/argv/create_argv.c
  src/argv/handle_redirections.c
  src/argv/var_parser.c
  src/commands/execute_bin.c
  src/commands/execute_command.c
  src/commands/execute_command_utils.c
  src/commands/execute_line.c
  src/commands/execute_pipes.c
  src/handle_redirect.c
Labels: enhancement, redirections

#91 Feat/redirect stdout
  Makefile
  include/minishell.h
  src/argv/create_argv.c
  src/redirections/add_redir_argv.c
  src/redirections/redirect_stdin.c
  src/redirections/redirect_stdout.c
Labels: parsing, execution, redirections

#93 Fix bquote related segfault
  src/argv/var_parser.c
  src/commands/execute_command.c
  src/commands/execute_line.c
  src/utils/var_names_utils.c
Labels: bug

#94 Support Bquotes in Readline
  src/readline/format.c
Labels: enhancement, readline

#99 Fix valgrind's leaks and errors
  Makefile
  include/minishell.h
  include/readline.h
  src/argv/argv_utils.c
  src/argv/create_argv.c
  src/argv/var_parser.c
  src/builtins/exit.c
  src/commands/execute_bin.c
  src/commands/execute_command.c
  src/commands/execute_command_utils.c
  src/commands/execute_line.c
  src/commands/execute_pipes.c
  src/commands/execute_subshell.c
  src/main.c
  src/minishell.c
  src/readline/exit.c
  src/readline/ft_readline.c
  src/readline/ft_readline_core.c
  src/readline/special_key/breakline.c
  src/readline/special_key/factory.c
  src/readline/special_key/interrupt.c
  src/split_separators.c
  src/utils/free_cmd.c
  src/utils/free_envp.c
  src/utils/trim_whitespaces.c
Labels: bug

#103 Better envp management
  Makefile
  include/minishell.h
  src/argv/add_splitted.c
  src/argv/var_parser.c
  src/bquotes_handler.c
  src/builtins/cd.c
  src/builtins/change_pwd.c
  src/builtins/exit.c
  src/builtins/export_no_args.c
  src/commands/execute_bin.c
  src/commands/execute_pipes.c
  src/commands/execute_subshell.c
  src/envp/create_envp_cpy.c
  src/envp/parser.c
  src/main.c
  src/readline/ft_readline.c
  src/readline/special_key/interrupt.c
  src/redirections/redirect_stdout.c
  src/utils/free_cmd.c
Labels: bug, enhancement, builtins
